.content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 12px;
}

.metadata {
  font-size: 12px;
  color: #777;
}

.buttons {
  display: flex;
  gap: 8px;
}

.wrap {
  word-wrap: break-word;
  white-space: pre-wrap;
}

.url:link,
.url:visited {
  color: #3a62d9;
}

.url:hover {
  filter: brightness(0.8);
}

.filePreviewButtons {
  display: flex;
  gap: 8px;
  margin-left: auto;
}
