.button {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-color: var(--medium-grey);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  flex-shrink: 0;
}

.icon {
  font-size: 12px;
}